<%= form_for(@escalation) do |f| %>
<% if @escalation.errors.any? %>
  <div id="error_explanation">
    <% @escalation.errors.full_messages.each do |msg| %>
      <p><%= "* #{msg}" %></p>
    <% end %>
  </div>
<% end %>
<fieldset>
  <%= f.hidden_field :game_id, :value => @escalation.game.id %>        
  <%= f.hidden_field :user_id, :value => @escalation.user.id %>          
  <p>
    <b>Jogo:</b>
     <%= @escalation.game %>
  </p>
  <p>
    <b>Dia:</b>
     <%= @escalation.date %>
  </p>
  <p>
    <b>Membro:</b>
     <%= @escalation.user %>
  </p>
  <div class="actions">
    <%= f.submit 'Confirmar prenseça no jogo'%>
  </div>  
</fieldset>
<br/>
<% end %>
