<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <% @game.errors.full_messages.each do |msg| %>
        <p><%= "* #{msg}" %></p>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.hidden_field :company_id, :value => @game.company.id %>    
    <%= f.text_field :company_id, :value => @game.company, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :hour_start %><br />
    <%= f.time_select :hour_start %>
  </div>
  <div class="field">
    <%= f.label :hour_end %><br />
    <%= f.time_select :hour_end %>
  </div>
  <div class="field">
    <%= f.label :place %><br />
    <%= f.select :place , Place.all.collect{|p| [p.name, p.id]}, {:prompt => 'Selecione'} %>
  </div>
  <div class="field">
    <%= f.label :number_team %><br />
    <%= f.text_field :number_team %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :number_of_players_in_team %><br />
    <%= f.text_field :number_of_players_in_team %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.hidden_field :user_id, :value => @game.user.id %>        
    <%= f.text_field :user_id, :value => @game.user , :disabled => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
