<h2>LISTAGEM DE JOGOS</h2>
<p align='center'>
  <%= image_tag('/images/buttons/stadium.png')%>  
</p>
<fieldset>
  <legend>Instruções</legend>
  <p>
    Crie jogos(peladinha), automaticamente seus amigos vínculados com clube receberão email com informações sobre jogo, agora sim! só basta eles confirmarem suas presenças está formada a peladinha.
  </p>
</fieldset>
<table class='records'>
  <tr>
    <th>Nome</th>
    <th>Data</th>
    <th>Período</th>
    <th>Lugar</th>
    <th>Responsável</th>
    <th>Status</th>    
    <th COLSPAN="3" align='left'>Ação</th>
  </tr>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= l game.date %></td>
        <td><%= l game.hour_start , :format => :time%> à
        <%= l game.hour_end  , :format => :time%></td>
        <td><%= game.place_now %></td>
        <td><%= game.user %></td>
        <td><%= game.status == 1 ? "Aberto" : "Fechado" %></td>    
        <td>
        <%= link_to 'Fechar jogo', closed_game_path(game.id)  if game.user.id == current_user.id %>|
        <%= link_to 'Ver', game %>|
        <%= link_to 'Editar', edit_game_path(game) %>|
        <%= link_to 'Apagar', game, :confirm => 'Confirma exclusão?', :method => :delete %></td>
      </tr>
    <% end %>
</table>
<%= will_paginate @games %>

<br />

<%= link_to 'Novo Jogo', new_game_path %>
