<h2><%= @game.id %></h2>
<fieldset>
  <legend><%= image_tag('/images/buttons/game.png')%>  
  Informações do Jogo</legend>
  <table width="90%">
    <tr>
      <td width="120px">
        <b>Jogo do Clube:</b>
        <%= @game.company %>
      </td>
      <td width="80px">
        <b>Nome:</b>
        <%= @game.name %>        
      </td>
    </tr>
    <tr>
      <td width="120px">
        <b>Dia:</b>
        <%=l @game.day.date %>
      </td>
      <td width="80px">
        <b>Período:</b>
        <%= l @game.hour_start , :format => :time%> à
        <%= l @game.hour_end  , :format => :time%>
      </td>
    </tr>    
    <tr>
      <td width="120px">
        <b>Lugar:</b>
        <%= @game.place_now %><br/>
        <b>Endereço</b>
        <%= @game.place_now.description%>,
        <%= @game.place_now.city%><br/>
        <b>Telefone:</b>
        <%= @game.place_now.phone%>        
      </td>
    </tr>    
    <tr>
      <td width="120px">
        <b>Número de times:</b>
        <%= @game.number_team %>
      </td>
      <td width="80px">
        <b>Número de jogadores no time:</b>
        <%= @game.number_of_players_in_team %>
      </td>
    </tr>    
    <tr>
      <td width="120px">
        <b>Status:</b>
        <%= @game.status == 1 ? "Aberto" : "Fechado" %>      
      </td>
    </tr>    
    <tr>
      <td width="120px">
        <b>Responsável:</b>
        <%= @game.user %>      
      </td>
    </tr>    
  </table>
</fieldset>
<br/>
<fieldset>
  <legend><%= image_tag('/images/buttons/group.png')%>  
  Convocação</legend>
    <% if @game.escalations.any? %>
      <% @game.escalations.each do |e| %>
        <%= " * #{e.user}" %><br/>
      <% end %>
    <% else %>
      Jogo não possuem convocação.
    <% end %>
</fieldset>

<br/>
<%= link_to 'Editar', edit_game_path(@game)  if @game.status == 1%> 
<%= link_to 'Voltar para listagem de jogos', games_path %>
