<%= form_for(@company) do |f| %>
<% if @company.errors.any? %>
  <div id="error_explanation">
    <% @company.errors.full_messages.each do |msg| %>
      <p><%= "* #{msg}" %></p>
    <% end %>
  </div>
<% end %>

  <div class="field">
    <%= f.label :name, "Nome" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :number_members %><br />
    <%= f.text_field :number_members %>
  </div>

  <div class="field">
    <%= f.label :price_for_month %><br />
    <%= f.text_field :price_for_month %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Criar Clube'%>
  </div>
<% end %>
