<h2>Listagem de Clubes</h2>
<p align='right'>
  <%= link_to image_tag('/images/buttons/new.png'), new_company_path %>
</p>
<table class='records'>
  <tr>
    <th>Nome</th>
    <th COLSPAN="3"> Ações</th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td>
        <% if company.calendar.present? %>
          <%= link_to image_tag('/images/buttons/calendar.png'), calendars_path(:company_id => company.id) %>               
        <% else %>
          <%= link_to image_tag('/images/buttons/calendar_new.png'), new_calendar_path(:company_id => company.id) %> 
        <% end %>          
        <%= link_to image_tag('/images/buttons/edit.png'), edit_company_path(company) %> 
        <%= link_to image_tag('/images/buttons/delete.png'), company, :confirm => 'Confirma Exclusão?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @companies %>

<br />
