<h2>Listagem de Clubes</h2>

<table class='records'>
  <tr>
    <th>Nome</th>
    <th COLSPAN="3"> Ações</th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td>
        <% if company.calendar.present? %>
          <%= link_to 'Ver calendário', calendars_path(:company_id => company.id) %> |              
        <% else %>
          <%= link_to 'Criar Calendario', new_calendar_path(:company_id => company.id) %> |                      
        <% end %>          
        <%= link_to 'Ver', company %> |
        <%= link_to 'Editar', edit_company_path(company) %> |
        <%= link_to 'Apagar', company, :confirm => 'Confirma Exclusão?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @companies %>

<br />

<%= link_to 'Novo Clube', new_company_path %>
