<p id="notice"><%= notice %></p>

<p>
  <b>Clube:</b>
  <%= @calendar.company %>
</p>

<p>
  <b>Data Início:</b>
  <%= l @calendar.date_start %>
</p>

<p>
  <b>Data Fim:</b>
  <%= l @calendar.date_end %>
</p>


<%= link_to image_tag('/images/buttons/edit.png'), edit_calendar_path(@calendar) %> 
<%= link_to image_tag('/images/buttons/back.png'), calendars_path(:company_id => @calendar.company_id) %>
