<h2>listagem lugares </h2>

<table class="records">
  <tr>
    <th>Cidade</th>
    <th>Nome</th>
    <th>Endereço</th>
    <th>Responsável</th>
    <th>telefone</th>    
    <th COLSPAN="2" align='left'>Ação</th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= place.city %></td>
    <td><%= place.name %></td>
    <td><%= place.description %></td>
    <td><%= place.responsable %></td>
    <td><%= place.phone %></td>    
    <td><%= link_to image_tag('/images/buttons/edit.png'), edit_place_path(place) %></td>
    <td><%= link_to image_tag('/images/buttons/delete.png'), place, :confirm => 'Confirma exclusão?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @places if @places.respond_to?(:total_pages) %>

<br />
<%= link_to image_tag('/images/buttons/new.png'), new_place_path %>

