
<p>
  <b>City:</b>
  <%= @place.city %>
</p>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>Description:</b>
  <%= @place.description %>
</p>

<p>
  <b>Responsable:</b>
  <%= @place.responsable %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
