<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Nakeds | Comunidade de peladeiro on line</title>
<link REL="SHORTCUT ICON" href="/images/favicon.png" />    
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%= stylesheet_link_tag 'style', 'table' %>

</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <%= image_tag('/images/logo.png')%>
      </div>
      <div class="clr">
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <div id="flash">
            <% if flash[:notice] %>
              <%= render 'layouts/flash_message', :type => :notice %>
            <% end %>

            <% if flash[:alert] %>
              <%= render 'layouts/flash_message', :type => :alert %>
            <% end %>

            <% if flash[:error] %>
              <%= render 'layouts/flash_message', :type => :error %>
            <% end %>
          </div>
          <%= yield %>              
        </div>
      </div>
      <% if current_user.present? %>
        <div class="sidebar">
          <div class="gadget">
            <h2 class="star"><%= current_company%></h2>
            <fieldset>
              <h5 class="star"><%= "Olá! #{current_user}, Seja bem vindo ao Nakeds."%></h5>
            </fieldset>
            <div class="clr"></div>
            <ul class="sb_menu">
              <li>
                <%= image_tag('/images/buttons/exit.png')%>    
                <%= link_to 'Logout', destroy_user_session_path, :confirm => 'logout confirm' %>          
              </li>
              
              <li>
                <%= image_tag('/images/buttons/company.png')%>  
                <%= link_to 'Clubes', companies_path %>
              </li>
              
              <li>
                <%= image_tag('/images/buttons/linking.png')%>  
                <%= link_to 'Escolha de clube', linking_company_users_path %>
              </li>
              <li>
                <%= image_tag('/images/buttons/place.png')%>  
                <%= link_to 'Lugares', places_path %>
              </li>

              <li>
                <%= image_tag('/images/buttons/game.png')%>  
                <%= link_to 'Games', games_path %>
              </li>
              
              
              <li>
                <%= image_tag('/images/buttons/avatar.png')%>  
                <%= link_to 'my profile', edit_user_registration_path %>
              </li>

              <li>
                <%= image_tag('/images/buttons/group.png')%>  
                <%= link_to 'Convocação', escalations_path %>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <div class="sidebar">
          <div class="gadget">
            <h3 class="star">Cadastre sua pelada on line e chame seus amigos.</h3>
            <div class="clr"></div>
            <ul class="sb_menu">
             <%= image_tag('/images/buttons/game.png')%>   
             <%= image_tag('/images/buttons/arrow.png')%>
             <%= image_tag('/images/buttons/contact.png')%>
             <%= image_tag('/images/buttons/arrow.png')%>             
             <%= image_tag('/images/buttons/group.png')%>
              
            </ul>
          <div>
        </div>
      <% end %>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>
