<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Nakeds | Comunidade de peladeiro on line</title>
<link REL="SHORTCUT ICON" href="/images/favicon.png" />    
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%= stylesheet_link_tag 'style', 'table' %>

</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <%= image_tag('/images/logo.png')%>
      </div>
      <div class="clr">
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <div id="flash">
            <% if flash[:notice] %>
              <%= render 'layouts/flash_message', :type => :notice %>
            <% end %>

            <% if flash[:alert] %>
              <%= render 'layouts/flash_message', :type => :alert %>
            <% end %>

            <% if flash[:error] %>
              <%= render 'layouts/flash_message', :type => :error %>
            <% end %>
          </div>
          <%= yield %>              
        </div>
      </div>
      <% if current_user.present? %>
        <div class="sidebar">
          <div class="gadget">
            <h2 class="star">Menu</h2>
            <div class="clr"></div>
            <ul class="sb_menu">
              <li>
                <%= image_tag('/images/buttons/exit.png')%>    
                <%= link_to 'logout', destroy_user_session_path, :confirm => 'logout confirm' %>           </li>
              <li>
                <%= image_tag('/images/buttons/game.png')%>  
                <%= link_to 'Games', places_path %>
              </li>
              <li>
                <%= image_tag('/images/buttons/company.png')%>  
                <%= link_to 'Companies', companies_path %>
                </li>
              
              <li>
                <%= image_tag('/images/buttons/avatar.png')%>  
                <%= link_to 'New User', "" %>
              </li>
              
            </ul>
          </div>
        </div>
      <% end %>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">&copy; Copyright <a href="#">MyWebSite</a>.</p>
      <p class="rf">Layout by Atomic <a href="http://www.atomicwebsitetemplates.com/">Website Templates</a></p>
      <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>
